h1 {
    background-color:green;
    color: white;
    text-align: center;
}

h2 {
    background-color: yellow;
    color: white;
    text-align: center;
}

h3 {
    background-color: red;
    color: white;
    text-align: center;
}